# Arduino build files
*.hex
*.bin
*.elf
build/

# Android & Gradle
.gradle/
build/
*/build/
*/*/build/
*.iml
.idea/
local.properties
.DS_Store
*.apk
*.aab
.cxx/
captures/
*.log

# Windows thumbnail cache
Thumbs.db
ehthumbs.db
